*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #d6c0c0;
    padding: 10px;
}
.header ul{
    display: flex;
    list-style-type: none;
    width: 450px;
    margin: auto;
    justify-content: space-around;
}
.header ul li{
    padding: 10px;
}
.header .link h2{
    margin: 0;
}
.header .link{
    text-decoration: none;
    font-size: 20px;
}
.notFound .link{
    text-decoration: none;
    font-size: 20px;
}
.college .link{
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
}
.active{
    font-weight: bolder;
}
.custom-active {
    font-size: 20px;
    font-weight: bolder;
    color: blue;
    text-decoration: none;
}